//normalize html
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
//import tools
@import "1-tools/variables.scss";
//import sections
@import "2-sections/todo.scss";
//import modueles
@import "3-modueles/navbar.scss";
@import "3-modueles/lists.scss";
@import "3-modueles/checkbox.scss";
@import "3-modueles/calendar.scss";
@import "3-modueles/tooltip.scss";
@import "3-modueles/spinner.scss";
//Import font
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
