.tooltip {
  position: relative;
  z-index: 20;
  &:hover {
    .tooltip-container {
      display: block;
      position: absolute;
      color:white;
      background-color:black;
      border-radius: 5px;
      padding: 2px 5px;
      top:-17px;
      left:80px;
      font-size:10px;
    }
    .special {
      left:50px;
    }
    z-index:21;
  }
}
.tooltip-container {
  display: none;

}
