.todo {
  background-color: rgb(240,240,240);
  width:100%;
  height: 100%;
  .list-templates {
    min-height: 100%;
    height: 100%;
    width: 100%;
    .existing-lists {
      background-color: rgb(204, 175, 26);
      border: 1px solid black;
      padding: 25px 15px;
      .title-lists {
        font-size:20px;
        font-weight: 700;
        color: black;
      }
    }
    .list-template-container {
      width: 100%;
      background-color: $background-color-norm + 25;
    }
  }
}

.edit-item-menu-section {
  .edit-item-wrapper {
    display: none;
    top:0px;
    width: 100%;
    height:100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    .edit-item-overlay {
      width: 600px;
      height: 600px;
      background-color: rgb(203, 203, 203);
      border: 1px solid black;
      margin: 10% auto 0;
      .edit-item-menu {
        .edit-key {
          padding-left:25px;
          margin-right:125px;
        }
        .edit-list-input {
          width:125px;
          display: inline-block;
          margin:15px;
          padding:5px 10px;
          background: none;
          border:none;
          border-bottom:3px solid $font-color-active;
          transition: border 1s;
          outline:none;
          &:focus {
            border: 3px solid $font-color-active;
          }
        }
        .btn-save {
          margin-top:15px;
          text-transform: uppercase;
          padding:5px 10px;
          color: black;
          border: 2px solid black;
          background-color: $list-color;
          &:hover {
            cursor: pointer;
            border-color:$btn-active;
          }
        }
        .edit-lists-close {
          float:right;
          margin-right:25px;
          padding:5px;
          font-weight: 700;
          font-size:18px;
          &:hover {
            color:red;
            cursor: pointer;
          }
        }
        .edit-menu-head {
          text-align: center;
        }
      }
    }
  }
}

.add-item-section {
  .add-item-wrapper {
    display: none;
    top:0px;
    width: 100%;
    height:100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    .add-item-overlay {
      width: 600px;
      height: 600px;
      background-color: rgb(203, 203, 203);
      border: 1px solid black;
      margin: 10% auto 0;
      .add-item-menu {
        .add-btn-item-edit {
          text-align: center;
          cursor: pointer;
          .add-btn-img {
            width:25px;
            height:25px;
          }
        }
        .add-remove-item {
          width:25px;
          height: 25px;
          cursor: pointer;
          margin-left: 25px;
        }
        .add-list-input {
          width:125px;
          display: inline-block;
          margin:15px;
          padding:5px 10px;
          background: none;
          border:none;
          border-bottom:3px solid $font-color-active;
          transition: border 1s;
          outline:none;
          &:focus {
            border: 3px solid $font-color-active;
          }
        }
        .btn-save {
          margin-left:15px;
          margin-top:15px;
          text-transform: uppercase;
          padding:5px 10px;
          color: black;
          border: 1px solid black;
          background-color: $font-color-norm;
          &:hover {
            cursor: pointer;
            background-color: $font-color-active
          }
        }
        .add-lists-close {
          float:right;
          margin-right:25px;
          padding:5px;
          font-weight: 700;
          font-size:18px;
          &:hover {
            color:red;
            cursor: pointer;
          }
        }
        .add-menu-head {
          text-align: center;
        }
      }
    }
  }
}

.eye-candy {
  width: 100%;
  z-index: -100;
  position: absolute;
  .eye-candy-image {
    background-image:url('../../../Assets/Images/eye-candy.png');
    background-position: bottom left;
    // background-size: cover;
    background-repeat: repeat-x;
    height: 724px;
  }
}
