@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.todo {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%; }
  .todo .list-templates {
    min-height: 100%;
    height: 100%;
    width: 100%; }
    .todo .list-templates .existing-lists {
      background-color: #ccaf1a;
      border: 1px solid black;
      padding: 25px 15px; }
      .todo .list-templates .existing-lists .title-lists {
        font-size: 20px;
        font-weight: 700;
        color: black; }
    .todo .list-templates .list-template-container {
      width: 100%;
      background-color: #bbe8bf; }

.edit-item-menu-section .edit-item-wrapper {
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); }
  .edit-item-menu-section .edit-item-wrapper .edit-item-overlay {
    width: 600px;
    height: 600px;
    background-color: #cbcbcb;
    border: 1px solid black;
    margin: 10% auto 0; }
    .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-key {
      padding-left: 25px;
      margin-right: 125px; }
    .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-list-input {
      width: 125px;
      display: inline-block;
      margin: 15px;
      padding: 5px 10px;
      background: none;
      border: none;
      border-bottom: 3px solid #007375;
      transition: border 1s;
      outline: none; }
      .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-list-input:focus {
        border: 3px solid #007375; }
    .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .btn-save {
      margin-top: 15px;
      text-transform: uppercase;
      padding: 5px 10px;
      color: black;
      border: 2px solid black;
      background-color: #2CCCC5; }
      .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .btn-save:hover {
        cursor: pointer;
        border-color: #f5c945; }
    .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-lists-close {
      float: right;
      margin-right: 25px;
      padding: 5px;
      font-weight: 700;
      font-size: 18px; }
      .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-lists-close:hover {
        color: red;
        cursor: pointer; }
    .edit-item-menu-section .edit-item-wrapper .edit-item-overlay .edit-item-menu .edit-menu-head {
      text-align: center; }

.add-item-section .add-item-wrapper {
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); }
  .add-item-section .add-item-wrapper .add-item-overlay {
    width: 600px;
    height: 600px;
    background-color: #cbcbcb;
    border: 1px solid black;
    margin: 10% auto 0; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-btn-item-edit {
      text-align: center;
      cursor: pointer; }
      .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-btn-item-edit .add-btn-img {
        width: 25px;
        height: 25px; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-remove-item {
      width: 25px;
      height: 25px;
      cursor: pointer;
      margin-left: 25px; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-list-input {
      width: 125px;
      display: inline-block;
      margin: 15px;
      padding: 5px 10px;
      background: none;
      border: none;
      border-bottom: 3px solid #007375;
      transition: border 1s;
      outline: none; }
      .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-list-input:focus {
        border: 3px solid #007375; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .btn-save {
      margin-left: 15px;
      margin-top: 15px;
      text-transform: uppercase;
      padding: 5px 10px;
      color: black;
      border: 1px solid black;
      background-color: black; }
      .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .btn-save:hover {
        cursor: pointer;
        background-color: #007375; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-lists-close {
      float: right;
      margin-right: 25px;
      padding: 5px;
      font-weight: 700;
      font-size: 18px; }
      .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-lists-close:hover {
        color: red;
        cursor: pointer; }
    .add-item-section .add-item-wrapper .add-item-overlay .add-item-menu .add-menu-head {
      text-align: center; }

.eye-candy {
  width: 100%;
  z-index: -100;
  position: absolute; }
  .eye-candy .eye-candy-image {
    background-image: url("../../../Assets/Images/eye-candy.png");
    background-position: bottom left;
    background-repeat: repeat-x;
    height: 724px; }

.header .navbar {
  width: 100%;
  list-style: none;
  background-color: #A2CFA6; }
  .header .navbar .navbar-link {
    background-color: #A2CFA6;
    text-decoration: none;
    color: black; }
  .header .navbar .active {
    color: #007375; }

.create-lists {
  margin-top: 25px; }
  .create-lists .create-list-btn {
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
    border: 2px solid black;
    background-color: #2CCCC5; }
    .create-lists .create-list-btn:hover {
      cursor: pointer;
      border-color: #f5c945; }
  .create-lists .create-lists-wrapper {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    .create-lists .create-lists-wrapper .create-lists-close {
      font-size: 18px;
      font-weight: 700;
      float: right;
      padding: 20px 25px; }
      .create-lists .create-lists-wrapper .create-lists-close:hover {
        cursor: pointer;
        color: #ff053a; }
    .create-lists .create-lists-wrapper .create-lists-overlay {
      display: none;
      width: 600px;
      height: 600px;
      background-color: #cbcbcb;
      border: 1px solid black;
      margin: 10% auto 0; }
      .create-lists .create-lists-wrapper .create-lists-overlay .overlay-title {
        text-align: center; }
      .create-lists .create-lists-wrapper .create-lists-overlay .input-label {
        display: block;
        text-align: center;
        margin: 10px auto; }
      .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder {
        margin-left: 50px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder .remove-key-input img {
          height: 25px;
          width: 25px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder:hover {
          cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder {
        margin-left: 50px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder .remove-item-input img {
          height: 25px;
          width: 25px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder:hover {
          cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input {
        display: inline-block;
        margin: 10px;
        padding: 5px 10px;
        background: none;
        border: none;
        border-bottom: 3px solid #007375;
        transition: border 1s;
        outline: none; }
        .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input:focus {
          border: 3px solid #007375; }
      .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-1, .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-2 {
        display: block;
        margin: 10px auto;
        padding: 5px 10px;
        background: none;
        border: none;
        border-bottom: 3px solid #007375;
        transition: border 1s;
        outline: none; }
        .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-1:focus, .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-2:focus {
          border: 3px solid #007375; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-key {
        display: block;
        margin: 0 auto;
        overflow-y: scroll;
        height: 450px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-item {
        text-align: left;
        overflow-x: scroll;
        margin: 0 auto;
        overflow-y: scroll;
        height: 450px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-key {
        cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-item {
        cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-img {
        width: 25px;
        height: 25px;
        margin-left: 100px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-txt {
        text-align: center;
        margin-left: 25px;
        line-height: 2px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .next-btn {
        display: block;
        margin: 25px auto;
        width: 125px;
        height: 20px;
        font-size: 18px;
        padding: 5px 10px;
        background-color: #2CCCC5;
        border: 1px solid #535353;
        cursor: pointer;
        border-radius: 2px;
        text-align: center; }
        .create-lists .create-lists-wrapper .create-lists-overlay .next-btn:hover {
          background-color: #007375; }

.template-info {
  border: 1px solid black;
  padding: 15px;
  background-color: #2CCCC5; }
  .template-info:hover {
    background-color: #2CCCC5; }
  .template-info .template-name {
    font-size: 18px;
    color: black; }
    .template-info .template-name .template-desc {
      font-style: italic;
      font-size: 12px; }
    .template-info .template-name .show-template {
      display: inline-block;
      font-size: 18px;
      width: 25px;
      text-align: center;
      padding-top: 3.5px;
      padding-left: 2px;
      height: 25px;
      border: 1px solid black;
      border-radius: 100%; }
    .template-info .template-name:hover {
      cursor: pointer;
      color: #007375; }
      .template-info .template-name:hover .show-template {
        border-color: #007375;
        color: #007375; }
  .template-info .complete-list {
    display: none;
    margin-left: 100px;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
    border: 2px solid black;
    background-color: #A2CFA6; }
    .template-info .complete-list:hover {
      cursor: pointer;
      border-color: #f5c945; }

.list-template {
  display: none;
  margin-top: 15px;
  padding-bottom: 25px; }
  .list-template .list {
    margin-left: 50px;
    width: 50%;
    padding-bottom: 15px; }
    .list-template .list .key .keys {
      font-weight: 100;
      font-size: 18px;
      color: #007375;
      padding: 0 10px; }
      .list-template .list .key .keys .checkmark {
        width: 25px;
        height: 25px;
        border: 1px black solid;
        border-radius: 100%; }
    .list-template .list .item .completed {
      font-size: 16px;
      text-align: center; }
    .list-template .list .item td {
      font-size: 16px;
      color: black; }
    .list-template .list .item .edit-item {
      display: none; }
      .list-template .list .item .edit-item .remove-list-item img {
        width: 25px;
        height: 25px;
        margin-right: 25px; }
        .list-template .list .item .edit-item .remove-list-item img:hover {
          cursor: pointer; }
      .list-template .list .item .edit-item .edit-item {
        color: black; }
        .list-template .list .item .edit-item .edit-item:hover {
          cursor: pointer;
          color: #007375;
          font-weight: 700;
          text-decoration: underline; }
    .list-template .list .notes {
      font-style: italic;
      display: none;
      font-size: 12px;
      color: black; }
  .list-template .set-all-checked {
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 50px;
    text-align: center;
    color: black;
    font-weight: 800; }
    .list-template .set-all-checked:hover {
      cursor: pointer;
      color: #007375;
      text-decoration: underline; }
  .list-template .set-all-unchecked {
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 50px;
    text-align: center;
    color: black;
    font-weight: 800; }
    .list-template .set-all-unchecked:hover {
      cursor: pointer;
      color: #007375;
      text-decoration: underline; }
  .list-template #add-item-to-list {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    display: none; }
  .list-template .btn-edit {
    margin-top: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
    border: 2px solid black;
    background-color: #2CCCC5; }
    .list-template .btn-edit:hover {
      cursor: pointer;
      border-color: #f5c945; }

.remove-item {
  color: #bbe8bf;
  display: none;
  padding: 0 10px;
  cursor: default; }

.custom-checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  cursor: pointer; }
  .custom-checkbox:hover {
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.5); }

body {
  width: 100%;
  height: 100%; }

.calendar-container {
  table-layout: fixed;
  margin: 2.5%;
  margin-bottom: 0;
  width: 95%;
  height: 100%; }
  .calendar-container .month-label {
    text-align: left;
    font-size: 25px; }
    .calendar-container .month-label .year-label {
      font-weight: 200; }
  .calendar-container .week-header {
    font-weight: 200;
    text-align: right; }
    .calendar-container .week-header .weekend-header {
      color: black; }
  .calendar-container .day-container {
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: right;
    vertical-align: text-top;
    height: 200px;
    border-collapse: collapse; }
    .calendar-container .day-container .date {
      font-size: 18px;
      top: 15px;
      padding: 15px; }
    .calendar-container .day-container .outside-of-day-range {
      color: #b8b8b8; }
    .calendar-container .day-container .calendar-event {
      background-color: aqua;
      padding-right: 5px;
      padding-left: 5px;
      text-align: left;
      padding-top: 2px;
      padding-bottom: 2px;
      opacity: 0.75;
      border-radius: 10px;
      display: flex; }
      .calendar-container .day-container .calendar-event .calendar-event-name {
        padding: 0;
        margin: 0;
        -webkit-align-self: flex-start;
        align-self: flex-start; }
      .calendar-container .day-container .calendar-event .calendar-event-time {
        background-color: #00b4b4;
        border-radius: 10px;
        margin-right: -5px;
        margin-left: -5px;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: -2px;
        margin-top: -2px;
        margin-left: auto; }

.create-calendar-event {
  display: none; }
  .create-calendar-event .create-calendar-event-container {
    border-radius: 5px;
    background-color: #A2CFA6;
    padding: 25px;
    width: 450px;
    height: 750px; }
  .create-calendar-event .create-calendar-event-info {
    background-color: white;
    overflow-y: scroll;
    width: 400px;
    height: 650px;
    padding: 25px; }
  .create-calendar-event .triangle-up {
    width: 0;
    z-index: 100;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #A2CFA6; }
  .create-calendar-event input, .create-calendar-event textarea {
    padding: 5px 10px;
    margin-bottom: 15px; }
  .create-calendar-event select {
    margin-bottom: 15px; }
  .create-calendar-event .invitee {
    margin-left: 10px;
    padding: 5px 7px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #2CCCC5; }
  .create-calendar-event .remove-invitee {
    text-decoration: none;
    border-radius: 100px;
    color: #e7c516;
    background-color: #cc3a2c;
    padding: 2px 5px;
    margin-left: 10px; }
    .create-calendar-event .remove-invitee:hover {
      cursor: pointer; }
  .create-calendar-event .url {
    margin-left: 10px;
    font-size: 10px;
    color: #007375;
    text-decoration: underline;
    cursor: default; }
  .create-calendar-event [name="date2"] {
    display: none; }
  .create-calendar-event .scheduele-selector {
    float: right; }

.hidden-iframe-overlay {
  width: 100%;
  height: 100%; }
  .hidden-iframe-overlay .hidden-iframe-container {
    display: none;
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; }
    .hidden-iframe-overlay .hidden-iframe-container .nav-overlay {
      background-color: white;
      width: 100%;
      position: fixed;
      z-index: 1000;
      height: 100px; }
      .hidden-iframe-overlay .hidden-iframe-container .nav-overlay .back {
        left: 1px;
        background-color: #c1c1c1;
        font-size: 35px;
        padding: 29px;
        position: absolute;
        border: 1px solid black;
        width: 100px;
        color: black; }
        .hidden-iframe-overlay .hidden-iframe-container .nav-overlay .back:hover {
          cursor: pointer;
          color: #007375;
          background-color: #2CCCC5; }
    .hidden-iframe-overlay .hidden-iframe-container .hidden-iframe {
      position: absolute;
      top: 100px;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 100; }

.tooltip {
  position: relative;
  z-index: 20; }
  .tooltip:hover {
    z-index: 21; }
    .tooltip:hover .tooltip-container {
      display: block;
      position: absolute;
      color: white;
      background-color: black;
      border-radius: 5px;
      padding: 2px 5px;
      top: -25px;
      left: 80px;
      font-size: 12; }
    .tooltip:hover .special {
      left: 50px; }

.tooltip-container {
  display: none; }

/*# sourceMappingURL=main.css.map */
