body, html {
  margin: 0;
  padding: 0;
  font-family: 'custom',monospace,sans-serif; }

.todo {
  background-color: #58575b; }
  .todo .list-templates .existing-lists {
    border: 1px solid black;
    padding: 25px 15px; }
    .todo .list-templates .existing-lists .title-lists {
      font-size: 18px;
      color: #d8d8d8; }
  .todo .list-templates .list-template-container {
    width: 100%;
    background-color: #3f3e42; }

.header .navbar {
  width: 100%;
  list-style: none;
  background-color: #262529; }
  .header .navbar .navbar-link {
    background-color: #262529;
    text-decoration: none;
    color: #747474; }
  .header .navbar .active {
    color: #04d765; }

.create-lists {
  margin-top: 25px; }
  .create-lists .create-list-btn {
    width: 50px;
    height: 20px;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #00a533;
    margin-left: 25px;
    border: 1px solid #535353;
    cursor: pointer;
    border-radius: 2px; }
  .create-lists .create-lists-wrapper {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    .create-lists .create-lists-wrapper .create-lists-close {
      font-size: 18px;
      font-weight: 700;
      float: right;
      padding: 20px 25px; }
      .create-lists .create-lists-wrapper .create-lists-close:hover {
        cursor: pointer;
        color: #ff053a; }
    .create-lists .create-lists-wrapper .create-lists-overlay {
      display: none;
      width: 600px;
      height: 600px;
      background-color: #cbcbcb;
      border: 1px solid black;
      margin: 10% auto 0; }
      .create-lists .create-lists-wrapper .create-lists-overlay .overlay-title {
        text-align: center; }
      .create-lists .create-lists-wrapper .create-lists-overlay .input-label {
        display: block;
        text-align: center;
        margin: 10px auto; }
      .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder {
        margin-left: 50px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder .remove-key-input img {
          height: 25px;
          width: 25px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .key-placeholder:hover {
          cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder {
        margin-left: 50px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder .remove-item-input img {
          height: 25px;
          width: 25px; }
        .create-lists .create-lists-wrapper .create-lists-overlay .item-placeholder:hover {
          cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input {
        display: inline-block;
        margin: 10px;
        padding: 5px 10px;
        background: none;
        border: none;
        border-bottom: 3px solid #04d765;
        transition: border 1s;
        outline: none; }
        .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input:focus {
          border: 3px solid #04d765; }
      .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-1, .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-2 {
        display: block;
        margin: 10px auto;
        padding: 5px 10px;
        background: none;
        border: none;
        border-bottom: 3px solid #04d765;
        transition: border 1s;
        outline: none; }
        .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-1:focus, .create-lists .create-lists-wrapper .create-lists-overlay .create-list-input-2:focus {
          border: 3px solid #04d765; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-key {
        display: block;
        margin: 0 auto;
        overflow-y: scroll;
        height: 450px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-item {
        text-align: left;
        overflow-x: scroll;
        margin: 0 auto;
        overflow-y: scroll;
        height: 450px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-key {
        cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-item {
        cursor: pointer; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-img {
        width: 25px;
        height: 25px;
        margin-left: 100px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .add-btn-txt {
        text-align: center;
        margin-left: 25px;
        line-height: 2px; }
      .create-lists .create-lists-wrapper .create-lists-overlay .next-btn {
        display: block;
        margin: 25px auto;
        width: 125px;
        height: 20px;
        font-size: 18px;
        padding: 5px 10px;
        background-color: #747474;
        border: 1px solid #535353;
        cursor: pointer;
        border-radius: 2px;
        text-align: center; }
        .create-lists .create-lists-wrapper .create-lists-overlay .next-btn:hover {
          background-color: #04d765; }

.template-info {
  border: 1px solid black;
  padding: 15px; }
  .template-info:hover {
    background-color: #49484c; }
  .template-info .template-name {
    font-size: 18px;
    color: #747474; }
    .template-info .template-name .template-desc {
      font-style: italic;
      font-size: 12px; }
    .template-info .template-name .show-template {
      display: inline-block;
      font-size: 18px;
      width: 25px;
      text-align: center;
      padding-top: 3.5px;
      padding-left: 2px;
      height: 25px;
      border: 1px solid #747474;
      border-radius: 100%; }
    .template-info .template-name:hover {
      cursor: pointer;
      color: #04d765; }
      .template-info .template-name:hover .show-template {
        border-color: #04d765;
        color: #04d765; }
  .template-info .complete-list {
    display: none;
    width: 50px;
    height: 20px;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #00a533;
    margin-left: 100px;
    border: 1px solid #535353;
    cursor: pointer;
    border-radius: 2px; }
    .template-info .complete-list:hover {
      background-color: #db2121;
      color: white; }

.list-template {
  display: none;
  margin-top: 15px;
  padding-bottom: 25px; }
  .list-template .list {
    margin-left: 50px;
    width: 50%;
    padding-bottom: 15px; }
    .list-template .list .key .keys {
      font-weight: 100;
      font-size: 18px;
      color: #04d765;
      padding: 0 10px; }
      .list-template .list .key .keys .checkmark {
        width: 25px;
        height: 25px;
        border: 1px black solid;
        border-radius: 100%; }
    .list-template .list .item .completed {
      font-size: 16px;
      text-align: center; }
    .list-template .list .item td {
      font-size: 16px;
      color: white; }
    .list-template .list .item .edit-item {
      display: none; }
      .list-template .list .item .edit-item .remove-list-item img {
        width: 25px;
        height: 25px;
        margin-right: 25px; }
        .list-template .list .item .edit-item .remove-list-item img:hover {
          cursor: pointer; }
      .list-template .list .item .edit-item .edit-item {
        color: #747474; }
        .list-template .list .item .edit-item .edit-item:hover {
          cursor: pointer;
          color: #04d765;
          font-weight: 700;
          text-decoration: underline; }
    .list-template .list .notes {
      font-style: italic;
      display: none;
      font-size: 12px;
      color: white; }
  .list-template .set-all-checked {
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 50px;
    text-align: center;
    color: #747474;
    font-weight: 800; }
    .list-template .set-all-checked:hover {
      cursor: pointer;
      color: #04d765;
      text-decoration: underline; }
  .list-template .set-all-unchecked {
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 50px;
    text-align: center;
    color: #747474;
    font-weight: 800; }
    .list-template .set-all-unchecked:hover {
      cursor: pointer;
      color: #04d765;
      text-decoration: underline; }
  .list-template #add-item-to-list {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    display: none; }
  .list-template .btn-edit {
    margin-top: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
    border: 1px solid black;
    background-color: #747474; }
    .list-template .btn-edit:hover {
      cursor: pointer;
      background-color: #04d765; }

.remove-item {
  color: #3f3e42;
  display: none;
  padding: 0 10px;
  cursor: default; }

.custom-checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  cursor: pointer; }
  .custom-checkbox:hover {
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
